<a href="https://colab.research.google.com/github/daa103/DAA_ESAA/blob/main/%EB%91%90%EC%9E%87%ED%8C%90%EB%8B%A4%EC%8A%A4_241~242_256~263.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###**12-1 datetime 오브젝트**

* datetime라이브러리는 날짜와 시간을 처리하는 다양한 기능을 제공
* date 오브젝트: 날짜를 처리
* time 오브젝트: 시간을 처리
* datetime 오브젝트: 날짜와 시간을 모두처리

In [1]:
# 1. datetime 오브젝트를 사용하기 위해 datetime 라이브러리
from datetime import datetime

# 2. now, today 메서드를 사용하면 다음과 같이 현재 시간을 출력할 수 있습니다. 
now1= datetime.now()
print(now1)

now2=datetime.today()
print(now2)

# 3. datetime 오브젝트를 생성할 때 시간을 직접입력하여 인자로전달한 것이다. 각변수를 출력하여 확인해보면 입력한 시간을 바탕으로 datetime오브젝트가 생성
t1=datetime.now()
t2=datetime(1970,1,1)
t3=datetime(1970,12,12,13,24,34)

# 4. datetime 오브젝트를 사용하는 이유 중 하나는 시간 계산을 할 수 있다. 다음은 datetime오브젝트의 차이를 구한것이다.
diff1=t1-t2
print(diff1)
print(type(diff1))

diff2=t2-t1
print(diff2)
print(type(diff2))

2023-04-04 13:41:00.890570
2023-04-04 13:41:00.890913
19451 days, 13:41:00.891053
<class 'datetime.timedelta'>
-19452 days, 10:18:59.108947
<class 'datetime.timedelta'>

###**테슬라 주식 데이터로 시간계산하기**
* pandas-datareader를 통해 주식데이터를 불러온다.

In [47]:
! pip install pandas-datareader

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas-datareader in /usr/local/lib/python3.9/dist-packages (0.10.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.9/dist-packages (from pandas-datareader) (4.9.2)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.9/dist-packages (from pandas-datareader) (1.4.4)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.9/dist-packages (from pandas-datareader) (2.27.1)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.23->pandas-datareader) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.23->pandas-datareader) (1.22.4)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests>=2.19.0->pandas-datareader) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests>=2.19.0->pandas-datareader) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests>=2.19.0->pandas-datareader) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests>=2.19.0->pandas-datareader) (3.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas>=0.23->pandas-datareader) (1.16.0)

In [48]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

####1. get_data_quanal 메서드에 TSLA라는 문자열을 전달하여 테슬라의 주식데이터를 내려받은후 to_csv메서드를 사용하여 data폴더안에 'tesla_stock_quandl.csv'라는 이름으로 저장.

In [49]:
import pandas as pd
pd.core.common.is_list_like=pd.api.types.is_list_like
import pandas_datareader as pdr


#tesla에 저장된 데이터프레임을 파일로 저장한다.
tesla = pd.read_csv('/content/tesla_stock_quandl (1).csv')
tesla.head()

,Date,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
0,2018-03-27,304.00,304.27,277.18,279.18,13696168,0,1,304.00,304.27,277.18,279.18,13696168
1,2018-03-26,307.34,307.59,291.36,304.18,8324639,0,1,307.34,307.59,291.36,304.18,8324639
2,2018-03-23,311.25,311.61,300.45,301.54,6600538,0,1,311.25,311.61,300.45,301.54,6600538
3,2018-03-22,313.89,318.82,308.18,309.10,4914307,0,1,313.89,318.82,308.18,309.10,4914307
4,2018-03-21,310.25,322.44,310.19,316.53,5927881,0,1,310.25,322.44,310.19,316.53,5927881

#### 2. tesla 데이터프레임의 Date열 문자열로 저장되어있다. datetime오브젝트로 자료형을 변환해야 시간을 계산할 수 있다.

In [50]:
print(tesla.head())

         Date    Open    High     Low   Close    Volume  ExDividend  \
0  2018-03-27  304.00  304.27  277.18  279.18  13696168           0
1  2018-03-26  307.34  307.59  291.36  304.18   8324639           0
2  2018-03-23  311.25  311.61  300.45  301.54   6600538           0
3  2018-03-22  313.89  318.82  308.18  309.10   4914307           0
4  2018-03-21  310.25  322.44  310.19  316.53   5927881           0

   SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose  AdjVolume
0           1   304.00   304.27  277.18    279.18   13696168
1           1   307.34   307.59  291.36    304.18    8324639
2           1   311.25   311.61  300.45    301.54    6600538
3           1   313.89   318.82  308.18    309.10    4914307
4           1   310.25   322.44  310.19    316.53    5927881

#### 3. Date열을 Datetime형으로 변형하려면 read_csv 메서드로 데이터집합을 불러올때 parse_dates인자에 date열을 전달한다.

In [53]:
tesla=pd.read_csv('/content/tesla_stock_quandl (1).csv',parse_dates=[0])
print(tesla.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1949 entries, 0 to 1948
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        1949 non-null   datetime64[ns]
 1   Open        1949 non-null   float64
 2   High        1949 non-null   float64
 3   Low         1949 non-null   float64
 4   Close       1949 non-null   float64
 5   Volume      1949 non-null   int64
 6   ExDividend  1949 non-null   int64
 7   SplitRatio  1949 non-null   int64
 8   AdjOpen     1949 non-null   float64
 9   AdjHigh     1949 non-null   float64
 10  AdjLow      1949 non-null   float64
 11  AdjClose    1949 non-null   float64
 12  AdjVolume   1949 non-null   int64
dtypes: datetime64[ns](1), float64(8), int64(4)
memory usage: 198.1 KB
None

#### Date열의 자료형이 datetime오브젝트로 변환되었고 dt접근자를 사용할 수 있으므로 불린추출로 2010년 6월데이터만 추출한다.

In [54]:
print(tesla.loc[(tesla.Date.dt.year==2010)&(tesla.Date.dt.month==6)])

           Date   Open     High    Low  Close    Volume  ExDividend  \
1947 2010-06-30  25.79  30.4192  23.30  23.83  17187100           0
1948 2010-06-29  19.00  25.0000  17.54  23.89  18766300           0

      SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose  AdjVolume
1947           1    25.79  30.4192   23.30     23.83   17187100
1948           1    19.00  25.0000   17.54     23.89   18766300

* datetime오브젝트와 인덱스-DatetimeIndex
: datetime오브젝트를 데이터프레임의 인덱스로 설정하면 원하는 시간의 데이터를 추출할 수 있어 편리하다. 
#### datetime오브젝트를 인덱스로 설정해 데이터 추출하기
#### 1. Date열을 tesla데이터프레임의 인덱스로 지정

In [55]:
tesla.index=tesla['Date']
print(tesla.index)

DatetimeIndex(['2018-03-27', '2018-03-26', '2018-03-23', '2018-03-22',
               '2018-03-21', '2018-03-20', '2018-03-19', '2018-03-16',
               '2018-03-15', '2018-03-14',
               ...
               '2010-07-13', '2010-07-12', '2010-07-09', '2010-07-08',
               '2010-07-07', '2010-07-06', '2010-07-02', '2010-07-01',
               '2010-06-30', '2010-06-29'],
              dtype='datetime64[ns]', name='Date', length=1949, freq=None)

#### 2. datetime오브젝트를 인덱스를 지정하면 원하는 시간의 데이터를 추출할 수 있다.

In [56]:
#2015년의 데이터추출
print(tesla['2015'].iloc[:5,:5])

                 Date    Open     High       Low   Close
Date
2015-12-31 2015-12-31  238.51  243.450  238.3700  240.01
2015-12-30 2015-12-30  236.60  243.634  235.6707  238.09
2015-12-29 2015-12-29  230.06  237.720  229.5470  237.19
2015-12-28 2015-12-28  231.49  231.980  225.5400  228.95
2015-12-24 2015-12-24  230.56  231.880  228.2800  230.57

<ipython-input-56-bc24bdad1ee2>:2: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  print(tesla['2015'].iloc[:5,:5])

#### 2010년 6월데이터 추출출

In [57]:
print(tesla['2010-06'].iloc[:,:5])

                 Date   Open     High    Low  Close
Date
2010-06-30 2010-06-30  25.79  30.4192  23.30  23.83
2010-06-29 2010-06-29  19.00  25.0000  17.54  23.89

<ipython-input-57-33712f015d52>:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  print(tesla['2010-06'].iloc[:,:5])

#### 시간간격과 인덱스- timedeltindex
* 주식데이터에서 최초 5일수집된 데이터만 살피고 싶을때 시간간격을 인덱스로 지정하여 데이터를 추출한다. 
#### 시간간격을 인덱스로 지정해 데이터추출
#### 1. Date열에서 Date열의 최솟값을빼면 데이터를 수집한 이후에 시간이 흘른것을 알 수 있다. Date열에서 DAte열의 최솟값을 뺀 후 ref_date열로 추가한다.

In [58]:
tesla['ref_date']=tesla['Date']-tesla['Date'].min()
print(tesla.head())

                 Date    Open    High     Low   Close    Volume  ExDividend  \
Date
2018-03-27 2018-03-27  304.00  304.27  277.18  279.18  13696168           0
2018-03-26 2018-03-26  307.34  307.59  291.36  304.18   8324639           0
2018-03-23 2018-03-23  311.25  311.61  300.45  301.54   6600538           0
2018-03-22 2018-03-22  313.89  318.82  308.18  309.10   4914307           0
2018-03-21 2018-03-21  310.25  322.44  310.19  316.53   5927881           0

            SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose  AdjVolume  \
Date
2018-03-27           1   304.00   304.27  277.18    279.18   13696168
2018-03-26           1   307.34   307.59  291.36    304.18    8324639
2018-03-23           1   311.25   311.61  300.45    301.54    6600538
2018-03-22           1   313.89   318.82  308.18    309.10    4914307
2018-03-21           1   310.25   322.44  310.19    316.53    5927881

            ref_date
Date
2018-03-27 2828 days
2018-03-26 2827 days
2018-03-23 2824 days
2018-03-22 2823 days
2018-03-21 2822 days

#### 2. ref_date열을 인덱스로 지정하고 시간간격을 이용하여 데이터를 추출한다.

In [59]:
tesla.index=tesla['ref_date']
print(tesla.iloc[:5,:5])

                Date    Open    High     Low   Close
ref_date
2828 days 2018-03-27  304.00  304.27  277.18  279.18
2827 days 2018-03-26  307.34  307.59  291.36  304.18
2824 days 2018-03-23  311.25  311.61  300.45  301.54
2823 days 2018-03-22  313.89  318.82  308.18  309.10
2822 days 2018-03-21  310.25  322.44  310.19  316.53

#### 3. 데이터를 수집한 후 최초5일의 데이터를 추출한다

In [60]:
print(tesla['5days':].iloc[:5,:5])

               Date   Open     High    Low  Close
ref_date
3 days   2010-07-02  23.00  23.1000  18.71  19.20
2 days   2010-07-01  25.00  25.9200  20.27  21.96
1 days   2010-06-30  25.79  30.4192  23.30  23.83
0 days   2010-06-29  19.00  25.0000  17.54  23.89

#### 시간범위와 인덱스
* 누락된 데이터포함시켜 데이터를 살펴보려면? 임의로 시간범위를 생성하여 인덱스로 지정
#### 시간범위 생성해 인덱스로 지정하기
####1. 에볼라데이터 집합을 사용한다. 2015년1월1일에 데이터가 누락되었다.

In [63]:
from google.colab import files
uploaded = files.upload()
import pandas as pd

Saving country_timeseries.csv to country_timeseries.csv

In [64]:
ebola=pd.read_csv('/content/country_timeseries.csv',parse_dates=[0])
print(ebola.iloc[:5,:5])

        Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0 2015-01-05  289        2776.0            NaN            10030.0
1 2015-01-04  288        2775.0            NaN             9780.0
2 2015-01-03  287        2769.0         8166.0             9722.0
3 2015-01-02  286           NaN         8157.0                NaN
4 2014-12-31  284        2730.0         8115.0             9633.0

#### 2014년 3월 23일데이터누락락

In [65]:
print(ebola.iloc[-5:,:5])

          Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
117 2014-03-27    5         103.0            8.0                6.0
118 2014-03-26    4          86.0            NaN                NaN
119 2014-03-25    3          86.0            NaN                NaN
120 2014-03-24    2          86.0            NaN                NaN
121 2014-03-22    0          49.0            NaN                NaN

#### date_range메서드를 사용하여 2014년12월31일부터 2015년01년05일사이 시간인덱스를 생성성

In [66]:
head_range=pd.date_range(start='2014-12-31',end='2015-01-05')
print(head_range)

DatetimeIndex(['2014-12-31', '2015-01-01', '2015-01-02', '2015-01-03',
               '2015-01-04', '2015-01-05'],
              dtype='datetime64[ns]', freq='D')

#### 원본데이터를 손상시키는것을 방지하기위해 앞쪽데이터 4개를 추출하여 새로운 데이터프레임을 만든다. 이때 Date열을 인덱스로 먼저 지정하지 않으면 오류가 생기기때문에 Date열을 인덱스로 지정후 생성한 시간범위를 인덱스로 지정한다.

In [67]:
ebola_5=ebola.head()
ebola_5.index=ebola_5['Date']
ebola_5.reindex(head_range)
print(ebola_5.iloc[:5,:5])

                 Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
Date
2015-01-05 2015-01-05  289        2776.0            NaN            10030.0
2015-01-04 2015-01-04  288        2775.0            NaN             9780.0
2015-01-03 2015-01-03  287        2769.0         8166.0             9722.0
2015-01-02 2015-01-02  286           NaN         8157.0                NaN
2014-12-31 2014-12-31  284        2730.0         8115.0             9633.0